body{
  background: $background;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  min-width: 600;
}

.header {
  h1{
    font-weight: 300;
    background: #456;
    color: #ccc;
    padding: 6px 20px;
    margin: 0;
  }

  h2{
    background: #234;
    margin: 0;
    padding: 5px 23px;
    font-size: 1.2em;
    color: rgb(161, 161, 161);
  }
}

.outputResult {

  .nota_cuotas, .nota_cuota_value{
    margin-left: 32px;
  }

  .table_result{
    float: none;
    text-align: right;
    width: 95%;
    margin: 0 auto 50px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);

    tbody{
      tr{
        &:nth-child(even){
          background: #adadad;
        }

        &:nth-child(12n+1){
          background: #c3c3c3;
        }
      }
    }

    th{
      background: #345;
      font-weight: bold;
      padding: 10px;
      color: #bbb;
    }

    tfoot{
      background: #2F2F2F;
      font-weight: bold;
      color: #B8B8B8;
    }

    td{
      padding: 10px;
    }
  }
}

.tips{
  font-size: 0.7em;
}

.quotaValue{
  font-weight: bold;
}