<div id="modal" class="modal">
    <button class="modal__button-close" data-close-modal=""  data-toggle-modal="true">x</button>
    <div class="modal__content">
        <iframe class="modal__content__-map" data-map="" frameborder="0"></iframe>
    </div>
</div>